<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title }} ngetes gan</title>
  </head>
  <body>
    <center>
      <h3>
    {% for obj in testqset %}</br>
        <a href='{{ obj.get_absolute_url }}'>{{obj.title}}</a>
        {% url "blog:Detail" id=obj.id %}
        <!--a href='{% url "blog:Detail" id=obj.id %}'>{{obj.title}}</a></br-->
        <!--a href='/Blog/{{ obj.id }}/'>{{obj.title}} </a></br-->
    {{obj.content}}</br>
    {{obj.timestamp}}</br>
    {{obj.updated}}</br>
    {{obj.id}}</br>
    {{obj.pk}}</br>
    {% endfor %}
    </h3>
    <center>
  </body>
</html>
